@import "tailwindcss";
@layer components, utilities, base;

@theme {
    --color-primary-100: #081028;
    --color-primary-200: #0b1739;
    --color-primary-300: #001845;
    --color-secondary-100: #94246f;
    --color-secondary-200: #72195a;
    --color-secondary-300: #cb3cff;
}

@layer base {
    input {
        color-scheme: dark;
        
    }

    select {
        background-color: #16213e;
    }
}

@layer utilities {
    .bg-auth {
        background: linear-gradient(
            135deg,
            #0a0a0a 0%,
            #1a1a2e 50%,
            #16213e 100%
        );
    }

    .container-dash {
        @apply p-6 text-white;
    }
}

@layer components {
    .head-table {
        @apply py-3 px-2 text-left text-xs font-medium text-gray-300 uppercase tracking-wider;
    }

    .table-item-base {
        @apply px-4 py-4 whitespace-nowrap;
    }
}
